:root {
	--color-primary: #fece46;
	--color-primary-shade: #149dff;
	--color-primary-grey: #f2f2f2;
	--color-primary-green: #42db41;
	--color-secondary-green: #6aff69;
	--color-primary-blue: #007fff;
	--color-primary-red: #db1f1f99;

	--font: 'Lato';
	--font-header: 'Montserrat';
	--font-color: #333;
	--line-height: 1.45;

	--text-size-xlg: 1.266em;
	--text-size-lg: 1.125em;
	--text-size-rg: 16px;
	--text-size-sm: 0.889em;
	--text-size-xsm: 0.79em;

	--header-size-lg: 3.998em;
	--header-size-rg: 2.827em;
	--header-size-sm: 1.999em;
	--header-size-xsm: 1.414em;

	--container-padding-xsm: 3rem 1.5rem;
	--container-padding-sm: 3rem;
	--container-padding-md: 5rem;
	--container-padding-rg: 5rem;
	--container-sm: 400px;
	--container-md: 700px;
	--container-rg: 960px;
	--container-lg: 1200px;
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: var(--color-primary-grey);
	color: var(--font-color);
	font-family: var(--font);
	font-size: var(--text-size-rg);
	line-height: var(--line-height);
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  margin-top: 0;
  line-height: 1.2;
	font-family: var(--font-header);
}

h1 {
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

header {
	font-family: var(--font-header);
}

small, .font_small {font-size: 0.75em;}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.link {
	color: var(--color-primary-blue);
}

.fill {
	background-color: var(--font-color);
	color: #fff;
	padding: 0.7rem 1.5rem;
	box-shadow: 0 1px 3px #333;
}

.fill-go {
	background-color: var(--color-secondary-green);
}

.color-primary {
	color: var(--color-primary);
}

.bordered {
	border: 2px solid #fff;
	padding: 0.2rem 0.8rem;
}

span.icon {
	margin-left: 0.5rem;
	font-weight: bold;
}

span.icon-left {
	margin-left: 0rem;
	margin-right: 0.5rem;
}

.flip {
	display: inline-block;
	transform: rotateY(180deg);
}

p {
	margin: 0;
}

p + p {
	margin-bottom: 1.3em;
}

hr {
	margin-left: 0;
	border: 0;
	border-bottom: 2px solid #eaeaea;
}

img {
	max-width: 100%;
}

.text-center hr {
	margin-left: auto;
	margin-right: auto;
}

.section-header hr {
	border-bottom-color: var(--color-primary);
	border-width: 4px;
	width: 75px;
}

button:hover {
	cursor: pointer;
}

input:not([type=file]), textarea, button {
	border: 0;
}

input:not([type=file]), textarea {
	padding: 0.6rem 0.7rem;
	font-family: inherit;
	font-size: inherit;
}

input:not([type=file]), select, textarea {
	display: block;
	width: 100%;
	margin-bottom: 1rem;
	background-color: #f5f5f5;
	border: 3px solid var(--color-primary-grey);
}

.container--sm {
	padding: var(--container-padding-rg) calc(50% - (var(--container-sm) / 2));
}

.container {
	padding: var(--container-padding-rg) calc(50% - (var(--container-rg) / 2));
}

.container--md {
	padding: var(--container-padding-md) calc(50% - (var(--container-md) / 2));
}

.container--lg {
	padding: var(--container-padding-rg) calc(50% - (var(--container-lg) / 2));
}

.section-header {
	margin-bottom: var(--container-padding-rg);
}

@media (max-width: 1300px) {
	.container--lg {
		padding: var(--container-padding-rg);
	}
}

@media (max-width: 1060px) {
	.container, .container--lg {
		padding: var(--container-padding-sm);
	}

	.section-header {
		margin-bottom: var(--container-padding-sm);
	}
}

@media (max-width: 800px) {
	.container--md {
		padding: var(--container-padding-sm);
	}
}

@media (max-width: 600px) {
	.container, .container--lg, .container--md, .container--sm {
		padding: var(--container-padding-xsm);
	}
}

.panel {
	padding: 2.5rem;
	background-color: #fff;
	box-shadow: 0 0 3px #eaeaea;
}

.panel--bordered {
	border-top: 15px solid #333;
}

@media (max-width: 1060px) {
	.panel {
		padding: 2rem;
	}
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.successMessage {
	padding: 0.7rem 1.5rem;
	background-color: var(--color-secondary-green);
	color: #fff;
}

.errorMessage {
	padding: 0.7rem 1.5rem;
	background-color: var(--color-primary-red);
	color: #fff;
}

.form-group {
	margin-bottom: 2rem;
}
